#home {
  background-image: url('../img/bg-home.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  vertical-align: middle;
}

#home-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#menu-holder {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}

#content-holder{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}

.nopadding {
   padding: 0px !important;
   margin: 0px !important;
}

.nav-custom {
  background-color: #222;
  height: 100vh;
}

.nav-custom li {
  margin: 0px !important;
}

.nav-custom a:link, .nav-custom a:visited, .nav-custom a:hover {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #BBB;
  background-color: none;
}

.nav-custom .active {
  background-color: #986cda;
}

.scrollable-page {
  min-height: 100vh;
  background-color: white;
}

body {
  position: relative;
}

#mobileMenu {
  position: fixed;
  z-index: 1;
  top: 15px;
  right: 15px;
}

#menuButton {
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  background: none;
  border: none;
  color: #F85A56;
  padding: 0px;
  margin: 0px;
}

#timeline, #research, #hci, #testing, #documentsManagement {
  background-color: #EEE;
}

.white-text {
  color: #EEE;
  font-weight: 700;
}

td {
  vertical-align: top !important;
}

.timeline {
  width: 10px;
  background-color: #555;
  margin: 0px;
  margin-left:20px;
  margin-right: 10px;
  padding: 0px;
  border: none;
  position: relative;
  top: 40px;
  left: 20px;
}

.anchor {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #555;
  margin: 0px;
  margin-left:20px;
  margin-right: 10px;
  padding: 0px;
  position: relative;
  top: 25px;
  right: 20px;
  border: none;
}

img.opacity {
	opacity: 0.5;
	filter: alpha(opacity=50);
 	-webkit-transition: opacity 1s linear;
}

img.opacity:hover {
	opacity: 1;
	filter: alpha(opacity=100);
 	-webkit-transition: opacity 1s linear;
}

.done {
  background-color: #F85A56;
}

.imfit {
  width: 100%;
}

.yellow {
  color: #d39d15;
}

.red {
  color: red;
}

.green {
  color: green;
}
